*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    /* para evitar el scroll*/
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
a{
    text-decoration: none;
    display: inline;
    color: black;
}
.header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 150px;
}
.header .header-icon-container{
   display: grid;
   width: 100%;
   height: 60px;
   background-color: #47cfac;
}
.header .header-icon-container .redes-icons{
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    width: 300px;
    height: auto;
    margin-right: 50px;

}

.header nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 90px;
}
.header nav .nav-logo-container{
    margin-left: 5px;
}
.header nav .nav-logo-container img{
    width: 220px;
    margin-top: 10px;
}
.profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'roboto mono',sans-serif;
    margin-right: 50px;
    text-decoration: underline;
}

.body-main{
   
    width: 100%;
    min-width: 320px;
    height: 100%;
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-image: url('/assets/img/Cover.png');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.body-main section{
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
}
.title-main{
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 10px;
    color: white;
    text-align: center;
}
.button{
    background-color: #47cfac;
    width: 80px;
    height: 40px;
    border: none;
}





/* media queries*/
@media (min-width:600px){
    header .redes-icons span{
        color: white;
    }
   
    .title-main{
        font-size: 30px;
    }
   
}
