*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
  
}
a{
    text-decoration: none;
    display: inline;
    color: black;
}

.header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 150px;
}
.header .header-icon-container{
   display: grid;
   width: 100%;
   height: 60px;
   background-color: #47cfac;
}
.header .header-icon-container .redes-icons{
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    width: 300px;
    height: auto;
    margin-right: 20px;

}
.header .header-icon-container .redes-icons a:hover{
    transform: scale(1.2);
}

.header nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 90px;
}
.header nav .nav-logo-container{
    margin-left: 5px;
}
.header nav .nav-logo-container img{
    width: 220px;
    margin-top: 10px;
}
.profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'roboto mono',sans-serif;
    margin-right: 50px;
    text-decoration: underline;
}

main{
    width: 100%;
    min-width: 320px;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}
main .blog{
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.perfil{
    margin: 20px auto;
}
.container{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border-top: 1px solid black;
}
.blog-container__article{
    width: 100%;
    padding-top: 20px;

}
main .blog .blog-container .blog-container__article h2{
    align-self: flex-start;
    margin-left: 10px;
   
   
}
main .blog .blog-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
}
main .blog .blog-container img{
    width: 80%;
}
main .blog .blog-container h3{
   margin-top: 20px;
}
main .blog .blog-container p{
    padding: 10px;
}
.contacto{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 209, 209);
    margin-top: 20px;
    padding: 0 15px;
}
.contacto-div{
    width: 90%;
}
.contacto .contacto-div div{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr 1fr;
    margin: 20px auto;
   
}
.contacto div img{
    width: 60px;
    grid-column: 1/2;
    grid-row: 1/3;
}
.contacto a:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
    text-decoration: underline;
}
.contacto p:nth-child(3){
    grid-column: 2/3;
    grid-row: 2/3;
}
footer{
    width: 100%;
    height: 100px;
}
.footer-section-up{
    width: 100%;
    height: 50%;
    background-color: #47cfac;
}
.footer-section-down{
    width: 100%;
    height: 50%;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
/* media queries*/
@media (min-width:600px){
    .header .header-icon-container .redes-icons{
       justify-self: flex-start;
    }
    header .redes-icons span{
        color: white;
    }
    .profile-link{
        justify-content: center;
    }
    .perfil{
        background-color: rgb(214, 218, 221);
        padding: 20px;
    }
    .container{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
    }
    .contacto{
        flex-direction: row;
        padding: 20px 30px;
    }
    .contacto .contacto-div {
        display:flex;
        flex-direction: row;
       
    }
    
}